.boton{
	-moz-box-shadow:inset 0 1px 0 0 #CC3416;
	-webkit-box-shadow:inset 0 1px 0 0 #CC3416;
	box-shadow:inset 0 1px 0 0 #CC3416;

	background-color:#CC4416;

	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	text-indent:0px;
	border:1px solid #AC3416;
	display:inline-block;

	color:#ffffff;
	font-family:Comic Sans MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	line-height: 45px;

	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #AA1416;

	width:80%;
	height:90%;
}

.boton:hover{
	background-color: #AA3A00;
}

.boton:active{
	position:relative;
	top:1px;
}
