/* CONFIGURACIONES GENERALES */
html{
	max-height: 98%;
	min-height: 98%;
	height: 98%;

	max-width: 98%;
	min-width: 98%;
	width: 98%;

	padding: 0px;
	margin: 1% 1% 1% 1%;
}

body{
	max-height: 100%;
	min-height: 100%;
	height: 100%;

	max-width: 100%;
	min-width: 100%;
	width: 100%;

	padding: 0px;
	margin: 0px;
}

/*CONFIGURACION DE SECCIONES*/
#cabecera{
	height: 20%;
	width: 100%;
	text-align: center;

	background-color: #CB4416;
	border: 1px solid white;
}

#cuerpo{
	height: 70%;
	width: 100%;

	text-align: center;
	border: 1px solid white;
}

#pieDePagina{
	height: 10%;
	width: 100%;

	text-align: center;
	background-color: #CB4416;
	border: 1px solid white;
}

/* CONFIGURACION DE CONTENEDORES */
#contenedorLogotipo{
	width: 100%;
	height: 82%;

	margin: 5% 0% 0% 0%;
	background-color: white;

}

#contenidoPieDePagina{
	height: 85%;
	width: 98%;

	text-align: center;
	background-color: white;
	margin: 1% 1% 1% 1%;
}


/*Configuracion de componentes*/
#logotipo{
	width: 90%;
	height: 100%;

	text-align: center;
}

#contenidoPieDePagina{
	width: 100%;
	height: 90%;

	text-align: center;
	margin: 1% 0% 0% 0%;
	border: 1px solid white;
}

#enunciadoPieDePagina{
	width: 99%;
	height: 98%;

	margin: 0% 0% 0% 0%;
	font-family:Comic Sans MS;
	font-size:10px;
	font-weight:bold;
	font-style:normal;
}
