.boton{
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;

	background-color:#CC4416;

	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	text-indent:0px;
	border:1px solid #83c41a;
	display:inline-block;
	
	color:#ffffff;	
	font-family:Comic Sans MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	line-height:50px;

	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;

	width:80%;
	height:90%;
}

.boton:hover{
	background-color:#a5cc52;
}

.boton:active{
	position:relative;
	top:1px;
}