.comentarioMuro {
	display:inline-block;
	width: 96%;

	padding: 0 0 0 0;
	margin: 2% 0 0 0;

	font-family:Comic Sans MS;
	text-decoration:none;
}

/*CONTENEDORES*/
#tituloMuro{
	width: 100%;
	height: 8%;
	text-align: center;

	font-family:Comic Sans MS;
	font-size: 20px;
	font-weight:bold;
	font-style:normal;
	color: gray;

	margin: 0 0 2% 0;
}

#cuerpo{
	overflow: auto;
}

/*Configuracion de las Fuentes*/
.nombreUsuario{
	background-image:url('../../img/fondosMuro/encabezado.jpg');
	background-size: 100% 100%;

	color: white;
	font-size:15px;
	font-weight: bold;
	font-style:normal;
	text-align: center;
}

.fechaComentario{
	background-image:url('../../img/fondosMuro/encabezado.jpg');
	background-size: 100% 100%;

	padding: 1% 0 1% 2%;
	color: black;
	font-size:12px;
	font-weight:normal;
	font-style: italic;

	background-color: white;

	text-align:left;
}

.cuerpoMensaje{
	background-image:url('../../img/fondosMuro/cuerpo.jpg');
	background-size: 100% 100%;

	padding: 2% 2% 2% 2%;
	color: black;
	font-size:12px;
	font-weight:normal;
	font-style:normal;

	background-color: white;
	text-align:justify;
}
