#cuerpoEntrada{
	background-color: #ffffff;
}

.indicadorCarga{
	position: absolute;
	top: 50%;
	left: 0;
	width: 150px;
	height: 110px;
}

.indicadorCarga{
	margin-top: -75px;
}

#cargador{
	position: absolute;
	width: 150px;
	height: 110px;
}

#leyenda{
	position: absolute;
	top: 60%;
	left: 10%;
	width: 80%;
	height: 80px;
	margin-top: 60px;
}

#titulo{
	position: absolute;
	width: 100%;
	height: 80px;
}

.indicadorCarga{
    position:absolute;
    float: right;
    right: 30px;
    left: 30px;
    top: 50%;
    background:url(img/logotipos/pez.png);

    -webkit-animation: pez_nadando 10s infinite linear;
    animation: pez_nadando 10s infinite linear;
}

@-webkit-keyframes pez_nadando {
    0%  {left:-40%;}
    100%    {left:100%;}
}

@keyframes pez_nadando {
    0%  {left:-40%;}
    100%    {left:100%;}
}
