<!doctype html>
<html lang="en">
	<head>
		<!-- Properties -->
		<meta charset="UTF-8">
		<title>Pescadores Colombia - Inicio</title>

		<!-- Scripts -->
		<script type="text/javascript" src = "../../js/frameworks/cordova-1.6.1.js"></script>
		<script type="text/javascript" src = "../../js/frameworks/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src = "../../js/frameworks/jquery.mobile-1.4.2.js"></script>
		<script type="text/javascript" src = "../../js/plugins/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src = "../../js/views/initial_view.js"></script>
		<script type="text/javascript" src = "../../js/utilities/general_utilities.js"></script>
		<script type="text/javascript" src = "../../js/utilities/facebook_utilities.js"></script>

		<!-- Styles -->
		<link rel = "stylesheet" href = "../../css/plugins/jquery.bxslider.css">
		<link rel = "stylesheet" href = "../../css/utilities/general_utilities.css">
		<link rel = "stylesheet" href="../../css/frameworks/jquery.mobile-1.4.2.css">
		<link rel = "stylesheet" href = "../../css/views/initial_view.css">
		<link rel = "stylesheet" href = "../../css/utilities/general_template.css">

	</head>

	<body onload = 'initView()'>
		<!-- Main Page -->
		<div data-role= "page">
			<!-- Page for vertical position -->
			<div data-role= "page"  class = "vertical_page" id = "vertical_page" >
				<div data-role="header" id = "vertical_header" class = "header">
					<img id = "main_logo" src = "../../img/logos/principal_logo_4.png">
				</div>

				 <div data-role="main" id = "vertical_content" class = "content">

					<article id = "banner" class = id = "banner">
						<ul id = "bxslider" class = "bxslider"></ul>
					</article>

				</section>


				 </div>

				 <div data-role="footer" id = "vertical_footer" class = "footer">
				 	<a href="#" class ="login_button" data-role="button" data-theme="b"> INICIAR SESION </a>
				 	<a href="#" class ="signin_button" data-role="button" data-theme="b"> REGISTRARSE </a>
				 </div>
			</div>

			<!-- Page for horizontal position -->
			<div  data-role= "page"  class = "horizontal_page" id = "horizontal_page">
				<div  id = "left_container">
					<div data-role="header" id = "header" class = "header">
						<img id = "main_logo" src = "../../img/logos/principal_logo_4.png">
					</div>

					<div data-role="footer" id = "horizontal_footer" class = "footer">
				 	<a href="#" class ="login_button" data-role="button" > INICIAR SESION </a>
				 	<a href="#" class ="signin_button" data-role="button" > REGISTRARSE </a>
					</div>
				<div>

				<div id = "right_container">
					<div data-role="main" id = "content">

						<article id = "banner" class = id = "banner">
							<ul id = "bxslider" class = "bxslider"></ul>
						</article>


					</div>
				</div>
			</div>
		</div>
<!--
			<div id="contenedorDerecho">

			</div>

			<div id="contenedorIzquierdo">
				<section id = "cuerpo">
					<article id = "banner">
						<ul id = "bxslider" class = "bxslider"></ul>
					</article>

<section id = "cuerpo">
					<article id = "banner">
						<ul id = "bxslider" class = "bxslider"></ul>
					</article>

					<article id = "botones">
					</article>
				</section>


					<article id = "botones">
					</article>
				</section>
			</div>

		</div>
	-->
	</body>
</html>
